h1{
    text-align: center;
}
h2{
  text-align: center;
}

h4{
    text-align: right;
}
body{
    background-color: rgb(235,233,249);
    font-family: 'Slabo 27px', serif;
    color:purple;
    border:solid purple 5em;
    margin: 2em;
}
footer{
    text-align:center;
}

/*section{
    position:fixed;
    top:30px;
    right:5px;
    border: solid black 1px;
    width:25%;
    height:auto;
}

body section section img{

    position:relative;
    top:325px;
    width: 43px;
    height: auto;
    margin:0;
}

a{
color: #c1bfea;
    padding-left:2em;
}
*/