

body{
    background-color: rgb(235,233,249);
    font-family: 'Slabo 27px', serif;
    color:purple;
    margin: 1em;
    border:solid black 5em;
    padding: 3em;
    }
body article {
    padding-right:15em;
}

section{
    text-align: center;
    position:fixed;
    top:35px;
    right:7em;
    border-radius:9px;
    /*border: solid black 1px;*/
    width:15%;
    height:auto;
}

body section {
    float:relative;
}

body section section img{
    border-radius:3px;
    position:relative;
    top:340px;
    width: 30px;
    height: auto;
    margin:0;
}

a{

 padding:2px;
}